a {
color: #3AB83A;
text-decoration: none;
}

a:hover {
color: #2D992D;
text-decoration: none;
}

.no-margin{
	margin:auto 0px;
}

.navbar{
	border-radius: 0px;
}



.alert {
	width: 100%;
	display: inline-block;
}

.nav-logo{
	display: block;
	text-indent: -999px;
	background: url("../images/logo.png") center no-repeat;
	width: 160px;
	height: 50px;
	background-size: 100%;
	margin: 0px;
	padding: 0px;
	margin-right: 20px;
}

.nav-dropdown{
	width: 40%;
}

.nav-dropdown .highlight{
	color: #fff;
	text-decoration: none;
	background-color: #4FC954;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background-color: #3AB83A;

}

.dropdown-timetable{
	background-color: #F8F8F8;
	height: 50px;
	width: 100%;

	padding: 0px 30px;
	text-align: left;

	border: none;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-radius: 0px;
}

.dropdown-timetable .caret{
	float: right;
	margin-top: 9px;
}

.user_log_in{
	display: none;
	margin: 10px 0px;
}

nav .btn-group{
	float: left;
}

nav .navbar-text{
	margin: 8px;
}

.timetable-select{
	width: 100%;

}

.timetable-select li{
	cursor: pointer;
}


.time-until-text{
	display: block;
}

.time-until{
	font-size: 65px;
}

.remind-me{
	font-size: 25px;
	cursor: pointer;
	text-shadow: 0px 0px 1px #000;
}

.timetable{
	text-align: center;
	position: relative;
	color: rgba(0, 0, 0, 0.7);
}

.timetable th{
	text-align: center;
}

.timetable tbody{
	position: relative;
}

.lunch{
	color:red;
}

.timeline{
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #2D9C3E;
	margin: 0px;
	padding: 0px;
	display: block;
	margin-top: 39px;
	top: 30%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	border-top: 1px solid #53D559;
	pointer-events: none;
}

.timeline-fill{
	position: absolute;
	width: 100%;
	height: 30%;
	background-color: rgba(37, 196, 75, 0.16);
	margin: 0px;
	padding: 0px;
	display: block;
	top: 0;
	margin-top: 39px;
	pointer-events: none;
}

.timetable tr>th{
	position: relative;
	color: #7A7A7A;
}

.timetable tr>td{
	vertical-align: middle !important;
}


td.break{
	font-size: 11px;
	padding: 0px !important;
}

.today{
	width: 0px;
	height: 0px;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -4px;
	border-bottom: none;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #ddd;
}

.timetable th.today-select{
	color: #353535;
}

.timetable_container td>div>span {
	border: 1px solid rgb(219, 219, 219);
	padding: 5px;
	margin: 5px;
	border-radius: 3px;
}

.timetable_container .time{
	font-size: 12px;
}

.timetable_container.filtered td>div>span{
	border: none;
	padding: 5px 10px;
	margin: 5px;
}

.timetable_container.filtered .time{
	font-size: 14px;
}


.table-button{
	display: table-cell;
}

.align-middle{
	vertical-align: middle !important;
	text-align: center;
}

.table tr>td{
	vertical-align: middle !important;
}

.full-width{
	width: 100%;
}

.badge.badge-success {
	background-color: #5cb85c;
}

footer {
	margin: 20px 0px;
}


.thumbnail {
	margin-bottom: 15px;
}

.thumbnail .btn{
	margin-bottom: 10px;
}

/* Timetable edit*/

.subjects .subject {
	margin: 5px;
}

.subject_settings{
	margin: 20px 0px;
	height: 30px;
}

.subject_settings .btn{
	float: right;
	margin: 5px;
}

.timetable_errors{
	display: none;
}

.timetable_success{
	display: none;
}

.timetable_construct .btn{
	padding: 2px 8px;
	margin: 5px;
	position: relative;
	z-index: 2;
}

.timetable_construct .timetable td{
	padding: 0px;
	position: relative;
	max-width: 140px;
}

.timetable_construct .timetable td>div{
	position: relative;
	width: 100%;
	min-height: 45px;
	padding: 5px 0px;
}

.timetable_construct{

}


@media (max-width: 768px){
	

	.container .navbar-header{
		margin: 0px auto;
		width: 160px;
	}
	.nav-dropdown{
		margin: 0px;
		padding: 0px;
		border-top: 1px solid rgb(204, 204, 204);
		width: 100%;
	}

	.timetable-select{
		margin-left: 0px;
	}

	.user_nav{
		display: none;
	}

}
