html, body{
	height: 100%;
	background-color: gray;
}

.canvas{
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	width: 95%;
	height: 89%;
	margin: 2.5%;
	display: inline-block;
}

.object{
	text-align: center;
	border: 1px solid black;
	position: absolute;
	display: inline-block;
	padding: 0px 4px;
	height: 20px;
	min-width: 80px;
}

.pre-object-container{
	width: 80px;
	background-color: #eee;
	position: absolute;
	display: inline-block;
	height: 20px;
}

.pre-object{
	position: absolute;
	display: inline-block;
	height: 20px;
	width: 0px;
	background-color: #ccc;
}