<table class="table table-bordered table-hover timetable">
	<thead>
		<tr>
			<th>Time</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th class="today-select"><span class="today"></span>Wednesday</th>
			<th>Thrusday</th>
			<th>Friday</th>
		</tr>
	</thead>
	<tbody>
		<tr class="timeline-fill"></tr>
		<tr class="timeline"></tr>
		<tr>
			<td>08:00 - 08:45</td>
			<td></td>
			<td>Bosnian</td>
			<td>English</td>
			<td>Bosnian</td>
			<td>English</td>
		</tr>
		<tr>
			<td>08:50 - 09:35</td>
			<td>Math</td>
			<td>Bosnian</td>
			<td>English</td>
			<td>Bosnian</td>
			<td>English</td>
		</tr>
		<tr>
			<td>09:40 - 10:25</td>
			<td>Math</td>
			<td>Economics HL</td>
			<td>Math</td>
			<td>Geography HL/SL</td>
			<td>Psychology HL/SL</td>
		</tr>
		<tr>
			<td>10:45 - 11:30</td>
			<td>Bosnian</td>
			<td>Economics HL</td>
			<td>TOK</td>
			<td>Physics</td>
			<td>Physics</td>
		</tr>
		<tr>
			<td>11:46 - 12:20</td>
			<td>English</td>
			<td>Physics</td>
			<td>TOK</td>
			<td>Physics</td>
			<td>German SL/HL</td>
		</tr>
		<tr class="lunch">
			<td>12:25 - 13:10</td>
			<td>LUNCH</td>
			<td>LUNCH</td>
			<td>LUNCH</td>
			<td>LUNCH</td>
			<td>LUNCH</td>
		</tr>
		<tr>
			<td>13:30 - 14:15</td>
			<td>Psychology HL/SL</td>
			<td>Physics</td>
			<td>Economics HL/SL</td>
			<td>B&amp;M</td>
			<td>History HL/SL</td>
		</tr>
		<tr>
			<td>14:20 - 15:05</td>
			<td>B&amp;M</td>
			<td>German SL/HL</td>
			<td>Chemistry</td>
			<td>B&amp;M</td>
			<td>History HL/SL</td>
		</tr>
		<tr>
			<td>15:10 - 15:55</td>
			<td>B&amp;M</td>
			<td>German SL/HL</td>
			<td>Chemistry</td>
			<td>ITGS</td>
			<td>CS</td>
		</tr>
		<tr>
			<td>16:15 - 17:00</td>
			<td>ITGS</td>
			<td>ITGS</td>
			<td>CS</td>
			<td>French</td>
			<td></td>
		</tr>
		<tr>
			<td>17:05 - 17:50</td>
			<td>ITGS</td>
			<td>ITGS</td>
			<td>CS</td>
			<td>CS</td>
			<td></td>
		</tr>
		<tr>
			<td>17:55 - 18:40</td>
			<td>History SL/HL</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>18:45 - 19:30</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>